@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

:root {
	--line-height-scale: 1;
	--ruby-display: none;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	font-family: "Zen Maru Gothic", sans-serif;
}


[data-ruby] {
	position: relative;
	display: inline-block;
}

[data-ruby]::before {
	display: var(--ruby-display);
	content: attr(data-ruby);
	position: absolute;
	top: -0.8em;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.5em;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

header {
	flex-grow: 0;
}

article>h1 {
	/* font-size: 36px; */
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 700;
	/* margin-bottom: 24px; */
	margin-bottom: 1.5rem;
	line-height: calc(3.375rem * var(--line-height-scale));
}

article>h2 {
	/* margin-top: 40px; */
	margin-top: 2.5rem;
	/* font-size: 24px; */
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: calc(2.25rem * var(--line-height-scale));
}

article>h3 {
	/* margin-top: 28px; */
	margin-top: 1.75rem;
	/* font-size: 20px; */
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: calc(2rem * var(--line-height-scale));
}

article > p {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: calc(1.875rem * var(--line-height-scale));
	text-align: justify;
	word-break: break-all;
}

article span {
	&[data-ruby]::before {
		top: -1.6em;
	}
}

article iframe {
	width: 100%;
}

.carousel {
	max-width: 38.832rem;
	max-height: 24rem;
	margin: 1rem auto;
	background-color: #ccc;
	overflow: hidden;
}

article .picture-frame {
	max-width: 38.832rem;
	margin: auto;
	padding: 1rem 0;
}

.picture-frame>p {
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

article .picture {
	aspect-ratio: 1.618;
	max-height: 24rem;
}

#sponsors h2 {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: calc(2.25rem * var(--line-height-scale));
}

.sponsor {
	aspect-ratio: 2.4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: large;
	color: var(--bs-secondary-color);
}

.sponsor img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

a.card {
	text-decoration: none;
}

.card-img-top {
	max-height: 120px;
	object-fit: cover;
}